<% unless user_signed_in? %>

  <%= render 'layouts/jumbotron' %>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Admin Login</h3>
          </div>
          <div class="panel-body">
            Go to /admin to view admin panel <br>
            login as: admin@example.com <br>
            password : password
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Moderator Login</h3>
          </div>
          <div class="panel-body">
            click "Login" <br>
            login as: mod@example.com <br>
            password : password
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Author Login</h3>
          </div>
          <div class="panel-body">
            click "Login" <br>
            login as: auth@example.com <br>
            password : password
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>
<div class="container">
  <h1 class="text-center">Hello, <%= current_user.email %></h1>
  <hr>

  <div class="row">
    <div class="col-sm-2">
      <%= image_tag("https://robohash.org/sitsequiquia.png?size=300x300", height: '150', width: '150', class: "img-thumbnail") %> <br>

    </div>

    <div class="col-sm-10">


        <div class="panel panel-default">
          <!-- <div class="panel-heading">
            <h3 class="panel-title">You rock!</h3>
          </div> -->
          <div class="panel-body">
            <label>Name:</label> <%= current_user.email %> <br>
            <label>Contribution:</label> <%= pluralize current_user.posts.size, 'submission' %>   <br>
            <label>Roles:</label> <br>
            <ol>

            <% current_user.roles.all.each do |role| %>
            <li>
            <%= role.name %>
            </li>
            <% end %>
            </ol>
            <hr>
            <%= link_to 'Add a new post!', new_post_path, class:"btn btn-primary" %>
          </div>
        </div>

  </div>
</div>

</div>


<% end %>
