<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class="text-center"><%= @post.title %></h1>
    <div class="text-center">
    <small>by <strong><%= @post.user.email %></strong>
      &nbsp|&nbsp posted <%= time_ago_in_words(@post.created_at) %> ago</small>
      </div>
    <hr>



    <p>
      <strong>Description:</strong><br>
      <%= @post.description %>
    </p>

    <strong>Add Comment</strong>
    <% @comments.each do |comment| %>
    <hr>
    <strong><%= comment.user.email %></strong> :
    <%= comment.body%> <br>
    <% end %>
    <hr>
<%= form_for([@post,@comment]) do |f| %>





    <%= f.text_area :body, placeholder: "say something ...", class: "form-control" %> <br>
    <%= f.hidden_field :post_id,value: @post.id %>
    <%= f.submit "Add Comment",class:"btn btn-primary"%>
<% end %>


<br>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>
</div>
